/*!
Theme Name: arslilia
Theme URI: http://underscores.me/
Author: milkers
Author URI: http://milkers.by
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: arslilia
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

arslilia is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #161616;
}

ul li {
    list-style: none;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: #545454;
} 


.wrapper, .site-main {
    width: 100%;
    margin: 0 auto;
    padding: 0 2.5rem;
    max-width: 135rem;
}

.section__title, .entry-title {
    display: block;
    margin-bottom: 3rem;
    font-size: 4.5rem;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 0.8;
    color: #000000;
}

.section__title-link {
    color: #161616;
    text-decoration: none;
}

.section__title_md {
    font-size: 3.6rem;
}

.section__title_sm {
    margin-bottom: 1rem;
    font-size: 2.4rem;
}

.section__title_mb1 {
    margin-bottom: 3rem;    
}

.header {
    padding: 2.5rem 0;
    border-bottom: 1px solid #DADADA;
}

.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__meta {
    display: flex;
}

.header__item {
    position: relative;
    width: 100%;
    flex: 1;
}

.header__item_small {
    max-width: 7rem;
}

.header__item:nth-child(2) {
    flex: 3;
    text-align: center;
}

.header__item:last-child {
    max-width: 5rem;
}

.header__search {
    position: relative;
    width: 25rem;
    border-radius: 5rem;
    border: 1px solid #545454;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 2rem;
}

.header__item:first-child:before {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 2.1rem;
    height: 2.1rem;
    content: '';
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    z-index: 1;
    left: 1rem;
}

.logo {
    font-size: 2.6rem;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    line-height: 0.8;
}

.header__phone {
    font-size: 2rem;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.nav {
    padding: 2.5rem 0 5rem;
}

.nav__list, .social__list {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.nav__list-item, .social__list-item {
    list-style-type: none;
}

.social__list {
    margin-left: 25rem;
}

.social__list_mlauto {
    margin-left: 0;
}

.social__list-item {
    margin: 0 2rem;
}

.social__list-item_mr3 {
    margin: 0 3rem 0 0;
}

.nav__list-item-link {
    position: relative;
    font-size: 1.6rem;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

.nav__list-item-link::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #B77DB8;
    position: absolute;
    bottom: -2rem;
    transition: all ease-in-out 0.5s;
    opacity: 0;
}

.nav__list-item-link:hover::before {
    bottom: -1rem;
    opacity: 1;
}

.category {
    position: relative;
    margin: 8rem 0 3rem;
}

.category__ico,
.advantage__ico-flower
{
    position: absolute;
    right: 0;
    top: 0;
}

.hit__ico-flower,
.step__ico-flower,
.about__ico-flower,
.trust__ico-flower
{
    position: absolute;
    left: 0;
    top: 0;
}

.category__box, .hit__box {
    display: flex;
    margin: 0 -1rem;
    flex-wrap: wrap;
    align-items: flex-start;
}

.category__item, .hit__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5rem;
    padding: 0 1rem;
    width: 20%;
}

.category__item_mw33 {
    width: 33%;
}

.category__item-cover {
    width: 100%;
}

.category_pt0 {
    margin-top: 0;
}

.category__title {
    margin-top: 1rem;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    color: #3A3A3A;
    text-decoration: none;
}

.hit {
    position: relative;
}

.hit__box, .blog__box {
    margin: 0 -3rem;
}

.hit__box {
    margin-bottom: 3rem;
}

.hit__cover {
    padding-top: 100%;
    background-size: cover;
    background-position: center;
}

.hit__column, .blog__item {
    padding: 0 3rem;
    position: relative;
    width: 33.33%;
}

.hit__label {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 4.5rem;
    right: 6.5rem;
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 500;
    z-index: 1;
}  

.hit__label::before {
    content: '';
    width: 8rem;
    height: 8rem;
    position: absolute;
    background-color: #B77DB8;
    z-index: -1;
    border-radius: 50%;
}

.pulse::before {
    animation: pulse-animation 2s infinite;
}
  
@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.25);
    }

    100% {
        box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
    }
}

.hit__title, .blog__link {
    margin: 1.5rem 0 3rem;
    min-height: 4.5rem;
    padding-right: 5rem;
    display: block;
    color: #000000;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: -1px;
}

.hit__old-price {
    display: block;
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    color: #545454;
    letter-spacing: -1px;
}

.hit__old-price::before {
    content: '';
    position: absolute;
    width: 10rem;
    height: 4px;
    top: 1rem;
    left: -2rem;
    background-color: #B77DB8;
    transform: rotate(-15deg);
}

.hit__price {
    display: block;
    font-size: 2.6rem;
    font-weight: 700;
    color: #000000;
    line-height: 0.85;
    letter-spacing: -1px;
}

.hit__meta {
    display: flex;
    justify-content: space-between;
}

.step__box {
    display: flex;
    justify-content: space-between;
}

.step {
    position: relative;
    padding-top: 3rem;
}

.step__round {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 15rem;
    background-color: #8F75A5;
    border-radius: 50%;
}

.step__item {
    position: relative;
}

.step__item::after {
    content: '';
    position: absolute;
    width: 13rem;
    height: 13rem;
    right: -10rem;
}

.step__item:first-child::after {
    top: 50%;
    background-image: url('./images/step-arrow-01.svg');
    background-repeat: no-repeat;
}

.step__item:nth-child(2)::after { 
    top: 0;
    background-image: url('./images/step-arrow-02.svg');
    background-repeat: no-repeat;
}

.step__item:nth-child(3)::after { 
    top: 0;
    background-image: url('./images/step-arrow-03.svg');
    background-repeat: no-repeat;
}

.step__item:nth-child(4)::after { 
    top: 50%;
    background-image: url('./images/step-arrow-04.svg');
    background-repeat: no-repeat;
}

.step__round_light {
    background-color: #D0CFE3;
}

.step__round_mt {
    margin-top: 7.5rem;
}

.step__description {
    display: block;
    margin-top: 2rem;
    max-width: 20rem;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
}

.about {
    position: relative;
}

.about__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__item {
    flex: 1;
}

.about__content {
    display: block;
    margin-bottom: 3rem;
    font-size: 1.6em;
    line-height: 165%;
    color: #545454;
}

.advantage {
    position: relative;
}

.advantage_ptpb10 {
    padding: 10rem 0;
}

.advantage__list {
    min-height: 75rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: 50rem 75rem;
    background-repeat: no-repeat;
    background-position: center;
}

.advantage__number {
    font-size: 9.5rem;
    color: #e6d1e6;
    font-weight: 700;
}

.advantage__title {
    position: absolute;
    display: inline-block;
    max-width: 20rem;
    top: 5rem;
    left: 10rem;
    font-size: 2rem;
    font-weight: 600;
    color: #000000;
}

.advantage__list-item {
    position: relative;
    width: 33.33%;
    list-style: none;
}

.stock, .trust {
    margin: 10rem 0;
}

.trust {
    position: relative;
}

.stock__pic {
    width: 100%;
    height: auto;
}

.feedback__box {
    display: flex;
    margin: 0 -2rem;
}

.feedback__item {
    flex: 1;
    margin: 0 2rem;
    padding: 5rem 3rem;
    background-color: #F1DFF5;
}

.feedback__time {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    opacity: 0.75;
}

.feedback__title {
    display: block;
    color: #000000;
    font-size: 1.8rem;
}

.feedback__info {
    display: block;
    margin-top: 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 160%;
    color: #3A3A3A;
}

.footer___flowers-pic {
    display: block;
}

.footer__address, .footer__tel, .footer__time {
    font-style: normal;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 160%;
    color: #3A3A3A;
}

.footer__copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__copy-content {
    font-size: 1.2rem;
    line-height: 160%;
    color: #8d8d8d;
}

.footer__time {
    display: block;
    margin-bottom: 5rem;
}

.swiper-button-next {
    color: #161616;
}

.swiper-button-prev {
    color: #161616;
}

.footer {
    margin-top: 15rem;
}

.footer__box {
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
}

.footer__link {
    display: block;
    position: relative;
    padding-bottom: 1rem;
    font-size: 1.4rem;
    color: #3A3A3A;
    font-weight: 500;
}

.footer__link::before {
    content: '—';
    position: absolute;
    left: -2rem;
    color: #3A3A3A;
}

.footer__logo-pay {
    width: 50%;
}

.footer__flowers {
    display: flex;
    margin-top: 10rem;
    align-items: center;
    justify-content: space-between;
}

.footer___flowers-link {
    color: #161616;
    text-decoration: none;
    font-size: 1.2rem;
}

.content {
    display: block;
    margin-top: 3rem;
    border-left: 5px solid #dbdbdb;
    padding-left: 5rem;
    max-width: 70%;
    font-size: 1.4rem;
    line-height: 160%;
    opacity: 0.8;
}

.splash__pic {
    margin-bottom: 5rem;
    width: 100%;
}

.product__box {
    position: relative;
    display: flex;
    margin: 0 -2.5rem;
}

.product__box .wc-forward {
    display: none;
}

.product__column {
    flex: 1;
    padding: 0 2.5rem;
}

.product__cover {
    padding-top: 100%;
    background-repeat: no-repeat;
}

.product__title {
    display: block;
    margin-bottom: 3rem;
    font-size: 4rem;
    letter-spacing: -2px;
    line-height: 1;
    color: #000000;
    font-weight: 600;
}

.product__old-price {
    position: relative;
    display: inline-block;
    font-size: 2.6rem;
    letter-spacing: -1px;
    font-weight: 500;
    color: #545454;
}

.product__old-price::before {
    content: '';
    display: inline-block;
    top: 1.5rem;
    left: -2rem;
    width: 150%;
    height: 5px;
    transform: rotate(-15deg);
    background-color: #8F75A5;
    position: absolute;
}

.product__description {
    max-width: 80%;
    font-size: 1.2rem;
    line-height: 160%;
    opacity: 0.85;
}

.product__subtitle {
    display: block;
    margin: 5rem 0 1rem;
    font-size: 1.8rem;
    font-weight: 500;
}

.product__button {
    margin-top: 3rem;
    padding: 2rem 10rem 2rem 5rem;
    color: #FFFFFF;
    font-size: 2.1rem;
    background-color: #B77DB8;
    font-family: 'Montserrat';
    border: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5rem;
    background-position: 90% center;
    background-repeat: no-repeat;
    transition: background-color ease-in-out 0.5s;
}

.product__button:hover {
    background-color: black;
}

.product__price {
    display: block;
    font-size: 3.5rem;
    letter-spacing: -2px;
    font-weight: 700;
}

.about__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__item {
    position: relative;
    flex: 1;
}

.about__pic {
    position: relative;
    margin-left: 5rem;
    padding-top: 80%;
    background-size: cover;
}

.about__owner-pic {
    position: absolute;
    right: -5rem;
    top: -5rem;
    z-index: 1;
}

.about__pic::before {
    content: '';
    padding-top: 80%;
    width: 100%;
    position: absolute;
    top: -5rem;
    right: -5rem;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)) url('../images/owner.png');
    background-size: cover;
    z-index: -1;
    background-color: #F0E0F0;
}

.about__title {
    position: relative;
    display: block;
    margin-bottom: 3rem;
    font-size: 4rem;
    letter-spacing: -1px;
    color: #000000;
    line-height: 0.8;
    font-weight: 600;
}

.about__title::before {
    content: '—';
    position: absolute;
    left: -5rem;
    font-size: 4rem;
}

.about__text {
    font-size: 1.6rem;
    line-height: 160%;
    color: #545454;
}

.about__flowers {
    margin-top: 5rem;
}

.history {
    position: relative;
}

.history__box {
    display: flex;
    padding: 5rem 0;
    margin: 0 -2.5rem;
}

.history__box:last-child {
    margin-bottom: 0;
}

.history__flower {
    position: absolute;
    top: -5rem;
    right: 0;
}

.history__item {
    position: relative;
    padding: 0 2.5rem;
    flex: 1;
}

.history__title {
    display: block;
    margin-bottom: 3rem;
    font-size: 2.6rem;
    color: #000000;
    font-weight: 700;
    line-height: 140%;
}

.history__text {
    font-size: 1.6rem;
    line-height: 160%;
    color: #545454;
}

.history__pic {
    padding-top: 80%;
    background-position: center;
    background-size: cover;
}

.instagram {
    margin-top: 5rem;
}

.instagram__box {
    display: flex;
    flex-wrap: wrap
}

.instagram__item {
    position: relative;
    width: 25%;
    padding-top: 25%;
    background-size: cover;
    background-position: center;
}

.instagram__item_fl2 {
    width: 50%;
}

.instagram__subtitle {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -1px;
    color: #000000;
    font-size: 1.8rem;
    font-weight: 700;
}

.blog__box {
    display: flex;
    flex-wrap: wrap;
}

.blog__item {
    width: 33.3%;
}

.blog__item_w100 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.blog__cover {
    position: relative;
    padding-top: 100%;
    background-position: center;
    background-size: cover;
}

.blog__time {
    bottom: 0;
    right: 0;
    position: absolute;
    padding: 1.5rem;
    background-color: rgba(143, 117, 165, 0.5);
    color: #FFFFFF;
    font-size: 1.4rem;
}

.article__box {
    display: flex;
}

.article__item:first-child {
    margin-top: -5rem;
    padding-top: 5rem;
    width: 70%;
    background-color: #FFFFFF;
}

.article__item:last-child {
    padding-top: 5rem;
    width: 30%;
    padding-left: 5rem;
}

.article__cover {
    padding-top: 30%;
    background-position: center;
    background-size: cover;
}

.article__item_main p {
    display: block;
    font-size: 1.6rem;
    line-height: 160%;
    margin-bottom: 3rem;
}

.article__item_main img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.article__title {
    display: block;
    margin-bottom: 3rem;
    font-size: 3.6rem;
    font-weight: 700;
    letter-spacing: -1px;
}

.review__box {
    margin-bottom: 5rem;
}

.review__box .review__name {
    background-color: #B77DB8;
}

.review__box:nth-child(2n) .review__name {
    background-color: #3A3A3A;
}

.review__box .review__container {
    border: 3px solid #B77DB8;
}

.review__box:nth-child(2n) .review__container {
    border: 3px solid #3A3A3A;
}

.review__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review__name {
    display: inline-block;
    padding: 1rem 2rem;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
    line-height: 0.85;
}

.review__container {
    padding: 2.5rem;
}

.review__text {
    display: block;
    margin-bottom: 3rem;
    font-size: 1.6rem;
    line-height: 160%;
    color: #3A3A3A;
}

.review__time {
    display: block;
    text-align: right;
    font-size: 1.6rem;
    color: #BBBBBB;
}

.promo__box {
    display: flex;
    align-items: flex-start;
    margin: 0 -3rem 7rem;
}

.promo__item {
    flex: 1;
    padding: 0 3rem;
}

.promo__cover {
    width: 100%;
    max-width: auto;
}

.promo__title {
    display: block;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: -1px;
    color: #000000;
    text-decoration: none;;
}

.promo__text {
    font-size: 1.4rem;
    line-height: 160%;
    color: #545454;
}

.kama_breadcrumbs {
    color: #161616;
    font-size: 1.4rem;
    margin: 2rem 0;
}

.kama_breadcrumbs a {
    color: #161616 !important;
    color: #8F75A5;
}

.added_to_cart {
    position: absolute;
    width: calc(100% - 6rem);
    margin: 0 auto;
    padding: 1rem;
    top: 0;
    left: 50%;
    color: #FFF;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    background-color: #8F75A5;
    transform: translateX(-50%);
}

.kb_title {
    color: #b3b3b3;
}

.kb_sep {
    margin: 0 1rem;
}

.edit-link {
    display: none;
}

.counter {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
}

.counter::before {
    content: '';
    top: 50%;
    left: 50%;
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: #161616;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
}

.control__box {
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control__banner {
    width: 100%;
}

.control__form {
    display: flex;
    align-items: flex-start;
}

.control__column {
    position: relative;
}

.control__label {
    top: -5px;
    left: 7px;
    padding: 0 7px;
    position: absolute;
    background-color: #FFFFFF;
}

.control__input {
    margin-right: 3rem;
    max-width: 10rem;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    color: #161616;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
    border: 1px solid #BBBBBB;
}

.control__input_wa {
    width: 20rem;
    max-width: none;    
}

.woocommerce-cart-form .product-remove {
    padding: 0 2rem;
}

.woocommerce-cart-form .product-remove a {
    font-size: 2rem;
    text-decoration: none;
} 

.woocommerce-cart-form .button {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem 3rem;
    border-radius: 10rem;
    border: 1px solid #545454;
}

.control__submit,
input[type="submit"],
.wc-proceed-to-checkout .checkout-button,
.woocommerce-checkout-payment button
{
    padding: 0.7rem 1.5rem;
    border-radius: 5rem;
    border: 3px solid black;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFF;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    color: #000000;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
}

.control__submit:hover,
input[type="submit"]:hover,
.wc-proceed-to-checkout .checkout-button:hover,
.woocommerce-checkout-payment button:hover
{
    border: 3px solid #B77DB8;
}

.search__box {
    margin-bottom: 3rem;
    display: flex;
    align-items: flex-start;
}

.search__cover {
    width: 20rem;
    height: auto;
}

.search__item_mr5 {
    margin-right: 5rem;
}

.search__title {    
    display: block;
    font-size: 2rem;
    font-weight: 600;
    color: #161616;
    margin-bottom: 2rem;
}

.nav-links {
    margin-top: 5rem;
    padding-top: 2rem;
    border-top: 1px solid #b3b3b3;
}

.nav-links a, .page-numbers, .next .page-numbers {
    display: inline-block;
    padding-right: 3rem;
    font-size: 1.4rem;
    color: #161616;
}

.info__box {
    position: relative;
    border-bottom: 1px solid #DADADA;
    display: flex;
    padding: 5rem 0;
}

.info__box:last-child {
    border-bottom: none;
}

.info__column {
    flex: 1;
}

.info__column_second {
    flex: 2;
}

.info__text {
    margin-bottom: 3rem;
    font-size: 1.6rem;
    color: #545454;
    line-height: 170%;
}

.info__text-image {
    max-width: 40rem;
    width: 100%;
}

.info__title {
    max-width: 80%;
    display: block;
    font-size: 1.8rem;
}

.info__text-subtitle {
    display: block;
    margin-bottom: 1em;
    font-size: 1.6rem;
}

.info__text-list {
    margin-bottom: 3rem;
    padding: 3rem 5rem;
    border: 1px solid #f1f1f1;
    box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.1);
}

.info__text-list-item {
    margin-bottom: 1em;
    font-size: 1.4em;
    line-height: 1.5em;
}

.map__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

.map__item {
    flex: 1;
}

.map__item:last-child {
    flex: 2;
}

.map__title {
    margin-bottom: 2rem;
    display: block;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #000000
}

.map__phone {
    position: relative;
    display: block;
    padding: 0.5rem 0 0.5rem 3rem;
    color: #000000;
    font-size: 1.6rem;
    text-decoration: none;
}

.map__phone::before {
    content: '';
    background-image: url('./images/phone.png');
    position: absolute;
    left: 0;
    top: 3px;
    width: 2.1rem;
    height: 2.1rem;
}

.map__time::before {
    content: '';
    background-image: url('./images/time.png');
    position: absolute;
    left: 0;
    top: 3px;
    width: 2.1rem;
    height: 2.1rem;
}

.map__time {
    position: relative;
    display: block;
    padding: 0.5rem 0 5rem 3rem;
    color: #545454;
    font-size: 1.6rem;
    text-decoration: none;
}

.cart {
    width: 100%;
    height: 60rem;
    background-color: #f1f1f1;
}

.comment-respond .comment-reply-title {
    font-size: 1.8rem;
}

.comment-respond a{
    font-size: 1.2rem;
    color: #000000;
}

.comment-respond label,
.woocommerce-billing-fields__field-wrapper label,
.woocommerce-additional-fields label,
.woocommerce-shipping-fields__field-wrapper label
{
    display: block;
    margin: 0 0 0.5rem 0;
    font-size: 1.2rem;
    background-color: #FFFFFF;
}

.woocommerce-billing-fields__field-wrapper p.form-row {
    width: 100%;
}

.comment-respond .comment-notes {
    display: block;
    font-size: 1.2rem;
    color: #545454;
    margin-bottom: 2rem;
}

.comment-respond textarea {
    width: 100%;
    padding: 2rem;
    max-width: 70%;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #BBBBBB;
}

.comment-respond input[type="text"],
.comment-respond input[type="email"],
.woocommerce-billing-fields .input-text,
.woocommerce-additional-fields textarea,
.woocommerce-shipping-fields__field-wrapper .input-text
{
    width: 100%;
    padding: 1rem 1rem;
    max-width: 50rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #BBBBBB;
}

.woocommerce-shipping-fields__field-wrapper .form-row-first,
.woocommerce-shipping-fields__field-wrapper .form-row-last {
    width: 100% !important;
}

.comment-respond .comment-form-url {
    display: none;
}

.comment-respond .comment-form-cookies-consent,
.comment-respond .wp-comment-cookies-consent
{
    display: none;
}

.feedback__comments .comments-title {
    display: none;
}

.comment-awaiting-moderation {
    display: block;
    margin: 0 0 2rem 0;
    font-size: 1.2rem;
    color: #545454;
    max-width: 50rem;
}

.comment-list .comment {
    margin: 7rem 0;
    position: relative;
    padding: 3rem 2.5rem 5rem 2.5rem;
    font-size: 1.5rem;
    border: 3px solid #303030;
    line-height: 160%;
}

.comment:nth-child(2n) {
    border: 3px solid #B77DB8;
}

.comment-body .says {
    display: none;
}

.comment-body .fn {
    position: absolute;
    left: -3px;
    top: -3.7rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid #303030;
    background-color: #303030;
    color: #FFFFFF;
}

.comment:nth-child(2n) .comment-body .fn {
    border: 1px solid #B77DB8;
    background-color: #B77DB8;
}

.comment-body .fn a {
    color: #FFFFFF;
    text-decoration: none;
}

.comment-list time {
    position: absolute;
    bottom: 2rem;
    right: 2.5rem;
    color: #8d8d8d;
    text-decoration: none;
    font-size: 1.4rem;
}

.woocommerce-cart-form .cart {
    height: auto;
    background-color: #FFFFFF;
}

.woocommerce-cart-form .product-name a,
.woocommerce-cart-form .product-name,
.woocommerce-cart-form .product-price,
.woocommerce-cart-form .product-subtotal,
.woocommerce-cart-form .remove,
.woocommerce-cart-form .qty,
.woocommerce-cart-form .product-quantity
{
    font-size: 1.4rem;
    color: #000000;
}

.woocommerce-cart-form .product-name {
    display: block;
    max-width: 50rem;
    line-height: 150%;
}

.woocommerce-cart-form .qty {
    padding: 1rem;
}

.woocommerce-cart-form__cart-item:nth-child(odd) {
    background-color: #f1f1f1;
}

.woocommerce-cart-form__cart-item td {
    padding: 2rem 0;
}

.woocommerce-cart-form .attachment-woocommerce_thumbnail {
    width: 10rem;
    height: auto;
}

.cart-collaterals,
.woocommerce-checkout-review-order
{
    max-width: 70rem;
    margin-top: 3rem;
    padding: 4rem 3rem 5rem 3rem;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.2);
    border-radius: 2rem;
}

.cart-collaterals h2 {
    display: block;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

.cart-collaterals .shop_table {
    font-size: 1.4rem;
}

.cart-collaterals .shop_table {
    padding-bottom: 3rem;
}

.cart-collaterals .woocommerce-shipping-totals .woocommerce-shipping-th {
    width: 15rem;
    vertical-align: baseline;
}

.woocommerce-message,
.information,
.woocommerce-error
{
    display: block;
    margin-bottom: 2rem;
    padding: 1.5rem;
    font-size: 1.2rem;
    background: #f1f1f1 !important;
}

.woocommerce-billing-fields h3,
.woocommerce-billing-fields strong
{
    font-size: 1.6rem;
}

.woocommerce-checkout-review-order-table th,
.woocommerce-checkout-review-order-table
{
    vertical-align: top;
    text-align: left;
    font-size: 1.4rem;
}

.woocommerce-privacy-policy-text {
    margin-bottom: 2rem;
}

.checkout__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.checkout__item {
    flex: 1;
}

.checkout__item h3 {
    font-size: 1.8rem;
}

.woocommerce-checkout-payment ul {
    margin-bottom: 2rem;
}

.woocommerce-checkout-payment ul li {
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

.woocommerce-checkout-review-order-table ul li {
    padding: 0.25rem 0;
}

.woocommerce-shipping-destination {
    display: block;
    font-size: 1.1rem;
    margin-top: 1rem;
}

.shop_table_responsive ul li label,
.woocommerce-checkout-review-order-table ul li label {
    font-size: 1.1rem;
}

.woocommerce-order {
    font-size: 1.4rem;
}

.woocommerce-order-details th {
    text-align: left;
}

.woocommerce-order-overview {
    margin-bottom: 2rem;
}

.woocommerce-column__title,
.woocommerce-order-details__title
{
    margin: 2rem 0;
}

.order_details {
    margin-bottom: 3rem;
    font-size: 1.4rem;
}